h1 {
    text-align: center;
    color: purple;
}

h2 {
    text-align: center;
    color: black;
}

p {
    text-align: center;
    color: black;
}

img {
    height: 50px;
    width: 50px;
}

#p1 {
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
}

#p2 {
    font-family: 'Times New Roman', Times, serif;
    font-size: xx-large;
}

#pics {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}